@import './fonts.css';

body {
  margin: 0;
  font-family: 'Fa', Courier, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #5E42A6;
  background-image: url(components/intro.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top right;
  color: rgba(255, 255, 255, 0.55);
  font-weight: 700;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor: pointer;
}